.home-container{
    background-color: #2bcff0;
    border-radius: 50px;
    border-color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.App-header{
    margin: 20px;
    padding: 20px;
    text-align: center;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.start-game-button{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 50px;
    background-color: #537173;
}