.card-container{
    background-color: white;
    border-radius: 50px;
    border-color: black;
    margin: 35px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 #d3e5f5;
    width: 200px;
    height: 200px;
}
.flipped-content{
    font-size: 20px;
}
.card-content{
    font-size: 30px;
    justify-content: center;
}
.card-image{
    width: 75%;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}