.end-screen{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: white;
}
.congrats-message{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.reset{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 50px;
    background-color: white;
}